.form-container {
    /* width: 40vw; */
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
 
  input{
        border: none;
        padding: 4px;
        border-bottom: 1px solid grey;
  }


  input:focus {
    outline: none;
  }


  /* input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  } */
 
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    /* background: #01d28e; */
    /* border: 1px solid #01d28e; */
    border-radius: 30px;
    /* color: #fff; */
    padding: 10px 20px;
  }


  input[type="submit"]:hover{
    background-color: #cdcdcd;
  }
 
  .button-container {
    display: flex;
    justify-content: flex-start;
  }
 
  .login-form {
    /* width: 40%; */
    background-color: white;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .signup-form{
    width: 50%;
  }
 
  .list-container {
    display: flex;
  }
 
  .error {
    color: red;
    font-size: 12px;
  }
 
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
 
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    margin-left: 0;
  }

  .message {
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
}

.message.success {
  background-color: #e6fffa;
  color: #065f46;
  border: 1px solid #34d399;
}

.message.error {
  background-color: #fee2e2;
  color: #7f1d1d;
  border: 1px solid #f87171;
}


.form-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.form-message.success {
  background-color: #e6fffa;
  color: #065f46;
  border: 1px solid #34d399;
}

